p {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
div .Mapa {
  text-align: center;
}
header {
  display: flex;
  border-style: outset;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
div.perfil {
  text-align: center;
}
p {
  font-size: 1.1em;
  margin-left: 1.1em;
}

button {
  background-color: rgb(240, 213, 140);
  margin-right: 1em;
  padding: 0.5em;
  border: none;
}
button:hover {
  background-color: rgb(220, 200, 100);
}
div.portada {
  display: flex;
  text-align: center;
 justify-content: center;
}
footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
div.mapa {
  padding-top: 5em;
  padding-bottom: 5em;
}

form {
  vertical-align: center;
  align-content: center;
  width: 25%;
  border: 0.1em solid #ccc;
}
label {
  display: block;
  width: 95%;
}
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 0.1em solid;
}
input[type="submit"] {
  background: #1668c4;
  color: #fff;
}
input[type="submit"]:hover {
  background: #4a88f4;
}
img{
  width: 9em;
}
